---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
import Inbound from '~/assets/images/components/Marketing/Inbound.astro'
import Outbound from '~/assets/images/components/Marketing/Outbound.astro'
const meta = {
  title: 'Co je digitální marketing a jaké koncepty pod něj spadají - ' + SITE.name,
  description:
    'Úvodní kurz vysvětluje, co je digitální marketing a jké koncepty pod něj spadají. Budeme se bavit o inbound (příchozím) a outbound (odchozím) marketingu.',
  dontUseTitleTemplate: true,
};
---

<style>
  p {
    margin: 10px 0px !important;
  }
</style>
<Layout meta={meta}>
  <main class="mx-auto max-w-3xl my-2 py-2">
    <h1
      class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-center py-4 my-4"
    >
      Co je digitální marketing a jaké koncepty pod něj spadají
    </h1>

    
    <p>
      Už se vás někdy někdo zeptal, co je to vlastně digitální marketing? Těžko odpovědět, protože v dnešní době se zdá
      být úplně každá forma propagace na internetu online marketingem. Pojďme se na to ale podívat trošku koncepčně.
    </p>
    


    <p class="has-text-align-center">
      <strong
        >Digitální marketing je používání nových médií nebo technologií k dosažení marketingových nebo byznysových cílů.</strong>
    </p>
    

    
    <p>
      Zkrátka digitální marketing je sada technologií, parametrů, digitálních standardů či formátů a vlastně je to i
      internet samotný. Hrůzná definice, že? Pokud to stále není to, co jste hledali, tak si stačí pamatovat, že cokoliv
      je online, nějakým způsobem se dá měřit a monetizovat, je nástroj online marketingu
    </p>
    

    
    <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >Odchozí (outbound) a příchozí (inbound) marketing</h2>
    

    
    <p>
      Abychom mohli začít s úplnými základy, je potřeba vysvětlit rozdíl mezi odchozím marketingem (také zvaným outbound
      marketing) a příchozím marketingem (také zvaným inbound marketing)
    </p>
    

   
    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Odchozí (outbound) marketing</h3>
    

    
    <p>
      Odchozí marketing se dá jedním slovem definovat jako "tlačení". Je to určitý typ zprávy, kterou tlačíte směrem ke
      specifickému publiku nebo zákazníkovi samotnému.
    </p>
    

    
    <p>
      Cílem odchozího marketingu je<strong> vybudovat povědomí</strong>o tom, co děláte - jedno jestli podnikáte ve
      službách nebo produktech. Zkrátka se snažíte co nejvíce rozšířit informaci o tom, že existujete, co máte a proč to
      děláte.
    </p>
    

    
    <p>
      Fyzickými prostředky odchozího marketingu mohou být například bannery na partnerských stránkách, videa, letáky
      (offline) a mnoho dalšího, co se v čase pořád a stále opakuje, aby si to náš potenciální zákazník zapamatoval.
      Jedná se v syrovém důsledku o tu nejzákladnější, tradiční strategii marketingu, se kterou začíná úplně každý.
    </p>
    

    
   <Outbound />
   <p>Informaci o vašem produktu nebo službě tlačíte směrem k vaší cílové skupině</p>
    

   
    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Příchozí (inbound) marketing</h3>
    

    
    <p>Asi už tušíte, že odchozí marketing bude přesný opak příchozího marketingu. Je to ale maličko složitější.</p>
    


  <Inbound />
  <p>Opačný směr, kdy zákazník o vašem produktu nebo službě aktivně mluví, sdílí jí a šíří zdarma povědomí.</p>
    

    
    <p>
      Uvažujme o inbound marketingu tak, že už je zde nějaká cílová skupina, která o vašem produktu nebo službě ví a
      služba se jí líbí. Takže vás aktivně vyhledávají a kterýmkoliv způsobem s tím co děláte, reagují.
    </p>
    

    
    <p><strong>Jedná se například o následující případy</strong></p>
    

    
    <ul class="list-disc px-5 my-5">
      <li>Někdo o vašem produktu nebo službě napsal blog</li><li>
        Lidé vás hledají na internetu a vy se tam zobrazujete
      </li><li>Lidé se přihlásí k odběru newsletteru</li><li>
        Lidé o vás slyšeli od ostatních, protože vás doporučili
      </li>
    </ul>
    

    
    <p>
      <strong>Takže co je cílem?</strong>Jednoduše (ale ono je to hodně složité pochopitelně) soustředit vaše aktivity
      tak, aby o vás lidé mluvili, sdíleli sami váš obsah, psali o vás a měli zájem o to, co děláte a píšete. A ano -
      příchozí marketing je přesně ten typ strategie, kam se snaží každý z nás marketérů dostat - protože o čem se
      nemluví, je v podstatě mrtvé.
    </p>
    

    
    <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >Tři hlavní online kanály digitálního marketingu.</h2>
    

    
    <p>
      Abych ještě lépe vysvětlil princip konceptu příchozího a odchozího marketingu, nemohu vynechat tři hlavní kanály
    </p>
    

    
    <ul class="list-disc px-5 my-5"><li>Vlastní online kanál</li><li>Placený online kanál</li><li>Zasloužený (získaný) online kanál</li></ul>
    

   
    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Vlastní online kanál</h3>
    

    
    <p>
      Vlastní online kanál mluví sám za sebe - je to médium, které vlastníte a spravujete ho - staráte se o něj. Jedná
      se přesně o ten typ prostředku, který je pod vaší úplnou kontrolou, není tak drahý, je velmi přizpůsobivý a
      dlouhodobý.
    </p>
    

    
    <p class="has-text-align-center">
      <strong
        >Pokud chceme budovat základy toho, aby nám zákazník věřil, je to právě vlastní online kanál, na kterém si
        musíme dát záležet.</strong>
    </p>
    

    
    <p>
      Většinou, když začínáme náš vlastní online kanál (řekněmě, že chceme udělat produktovou stránku), je potřeba se
      sám sebe při tvoření obsahu zeptat:
    </p>
    

    
    <ul class="list-disc px-5 my-5">
      <li>O čem chci vlastně mluvit?</li><li>Co je ta hlavní klíčová věc, kterou chci mému publiku předat?</li><li>
        Co chci, aby lidé jako první viděli, co je nejvíc plácne do očí.
      </li><li>
        A prostřednictvím čeho chci s těmi lidmi navázat kontakt (komentáře, hodnocení, subscribe na newsletter a bilion
        dalších možností).
      </li>
    </ul>
    

   
    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Placený online kanál</h3>
    

    
    <p>
      Placený online kanál, jak název napovídá, je kterálokoliv placená forma propagace třetí strany. Může se jednat
      například o:
    </p>
    

    
    <ul class="list-disc px-5 my-5">
      <li>Propagovaný příspěvek na sociálních sítích</li><li>Display reklama</li><li>Placené vyhledávání</li><li>
        Placená spolupráce s <a href="https://jaroslavhuss.cz/online-marketing-slovnik-pojmu#influencer/"
          ><strong>influencery</strong></a>
      </li>
    </ul>
    

    
    <p>
      A pokud si teď říkáte, kam byste zařadili placený kanál - zda do příchozího nebo odchozího marketingu - tak v obou
      případech je byste měli pravdu.
    </p>
    

    
    <p>Například odchozím placeným marketingem je repetitivní banerová reklama.</p>
    

    
    <p>
      Příkladem příchozího placeného marketingu by mohl být například <a
        href="https://jaroslavhuss.cz/online-marketing-slovnik-pojmu#retargeting/">retargeting</a
      > nebo placený <a href="https://jaroslavhuss.cz/online-marketing-slovnik-pojmu#influencer/"
        ><strong>influencing</strong></a
      >.
    </p>
    

   
    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Zaloužený (získaný) online kanál</h3>
    

    
    <p>
      Zasloužený (získaný online kanál se dá chápat jako publicita ze strany zákazníka, která je zdarma. Pokud si
      vzpomínáte na případy inboud marketingu, tak zasloužený online kanál je přesně reprezentuje. Zopakuji jen pro
      upřesnění - napíšete například opravdu kvalitní článek na vaše téma a lidem se tak líbí, že ho sdílí na sociálních
      sítích, mluví o něm a nebo ho dokonce zmíní i na svém blogu.
    </p>
    

    
    <p>
      Pokud se bavím o faktoru důvěryhodnosti, tak zasloužený kanál je jeden z nejvíce efektivnějších. Však to sami
      znáte - pokud vám někdo ústně doporučí "ty super krásné černé boty", má to pro vás úplně jinou váhu, než kdy do
      vás sype marketér, jak jsou ty černé boty super.
    </p>
    
  </main>
</Layout>
