---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
const meta = {
  title: "Základní kurz online marketingu - " + SITE.name,
  description: "V tomto obsáhlém kurzu se podíváme na úplně všechny aspekty online marketingu v samotných základech. Probereme jednotlivé odnože a aplikujeme je na praxi.",
  dontUseTitleTemplate: true,
};
---

<Layout meta={meta}>
<main class="mx-auto max-w-3xl my-2 py-2">
    <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-center py-4 my-4">Základní kurz online marketingu</h1>
    <div >
    Pokud jste online marketingem (nebo také digitálním marketingem (digitálem, onlajnem atd.) nepolíbení, základní kurz online marketingu je zde pro vás - zdarma a pokud mi to čas dovolí, tak ho budu v průběhu času aktualizovat.
</div>
<h2 class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Slovník pojmů online marketingu</h2>

<p>Všechny pojmy, zmíněné na tomto webu, naleznete na<a href="/online-marketing-slovnik-pojmu/"><strong> této stránce slovníku pojmů. </strong></a></p>

<h2 class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Úvod do digitálního marketingu</h2>

<ol><li><a href="/zakladni-kurz-online-marketingu/co-je-digitalni-marketing-a-jake-koncepty-pod-nej-spadaji/">Co je digitální marketing a jaké koncepty pod něj spadají</a></li><li><a href="/zakladni-kurz-online-marketingu/rozdil-mezi-tradicnim-marketingem-a-digitalnim-marketingem/">Jaký je rozdíl mezi digitálním a tradičním marketingem</a></li><li><a href="/zakladni-kurz-online-marketingu/princip-marketingove-trojky-zahajeni-integrace-a-opakovani/">Princip marketingové trojky</a></li><li><a href="/zakladni-kurz-online-marketingu/zakladni-online-kanaly/">Základní online marketingové kanály</a></li><li><a href="/zakladni-kurz-online-marketingu/metoda-smart/">Metoda SMART a její podrobné vysvětlení včetně praktické ukázky</a></li></ol>


<h2 class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Úvod do obsahového digitálního marketingu</h2>

<ol><li><a href="/zakladni-kurz-online-marketingu/obsahovy-marketing-typy-obsahu/">Obsahový marketing - jeho hlavní výhody a benefity</a></li><li><a href="/zakladni-kurz-online-marketingu/obsahovy-marketing-jak-spravne-vyjadrit-svuj-zamer-v-obsahu/">Obsahový marketing - jak správně obsahem vyjádřit svůj záměr</a></li><li><a href="/zakladni-kurz-online-marketingu/obsahovy-marketing-sprava-komunity-a-tvorba-obsahove-strategie/">Obsahový marketing - správa komunity a dělení obsahové strategie</a></li></ol>
</main>
</Layout>