---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
const meta = {
  title: 'Metoda SMART jednoduše vysvětlena - ' + SITE.name,
  description:
    'Metoda SMART je oblíbenou volbou v rámci budování marketingové a byznys strategie. Společně se podíváme na její části a vše si podrobně vysvětlíme.',
  dontUseTitleTemplate: true,
};
---

<style>
  p {
    margin: 10px 0px !important;
  }
</style>
<Layout meta={meta}>
  <main class="mx-auto max-w-3xl my-2 py-2 overflow-hidden">
    <h1
      class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-center py-4 my-4"
    >
      Metoda SMART jednoduše vysvětlena
    </h1>

    <p>
      Pokud jste se někdy setkali s metodou SMART (Specific - konkrétní, Measuarable - měřitelný, Achievable -
      dosažitelný, Relevant - jak moc je cíl relevantní, Time-bound - časové ohraničení cíle), dost pravděpodobně to
      bylo v rámci projektového řízení. Nicméně - tato metoda dosažení cílů se perfektně uplatňuje i v rámci marketingu.
    </p>

    <p>
      Metoda nebo také strategie SMART výrazně zjednodušuje orientaci ve vaší marketingové strategii. Prakticky se jedná
      o jasnou definici cílů, kterých chcete dosáhnout. Její nejsilnější zbraní je jednoduchost. To znamená, že
      strategie tvořená metodou SMART musí mít tak jasně a jednoduše definované cíle, že i lidé mimo marketing přesně
      ví, o čem je řeč.
    </p>

    <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >
      Specific - Konkrétní
    </h2>

    <ul class="list-disc px-5 my-5">
      <li>Myslete co nejvíce jednoduše</li><li>
        Při tvorbě cílů si můžete položit otázky: <ul class="list-disc px-5 my-5">
          <li>Čeho chceme vlastně dosáhnout?</li><li>Proč je to důležité?</li><li>
            Kdo je pro splnění cíle důležitý?
          </li><li>Já cíl zavislý na nějakcýh zdrojích? Jsou ty zdroje limitované?</li><li>
            Tedy - <strong>Co</strong>, <strong>Proč</strong>, <strong>Kdo</strong> a <strong>Kde</strong>.
          </li>
        </ul>
      </li><li>
        Je dobré si udělat výcuc všech informací o cílu, který chcete splnit. Každá z těch informací by ještě měla být
        dodatečně popsána tak jasně, aby tomu opravdu rozuměl úplně každý.
      </li><li>Stanovte si jeden hlavní unikátní cíl - více cílů může vyústit ve zmatek.</li>
    </ul>

    <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >
      Measurable - měřitelný cíl
    </h2>

    <p>
      V části konkretizace cíle víme, co přesně potřebujeme a chceme. Nyní je potřeba se zaměřit, jak cíl správně měřít.
      K tomu používáme:
    </p>

    <ul class="list-disc px-5 my-5">
      <li>Metriky - jaké jsou naše nejdůležitější KPI</li><li>
        Milníky - jaká data jsou pro más nejvíce důležitá (metriky a milníky se dost často překrývají.)
      </li><li>Výsledky - jaká je současná situace a jaká je požadovaná změna</li><li>
        Budget - s kolika pěnzi disponuji a jak je správně rozložit v projektu.
      </li>
    </ul>

    <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >
      Achievable - dosažitelnost cíle
    </h2>

    <p>
      Abychom mohli správně nadefinovat v naší marketingové strategii dosažitelnost cíle, musíme se zeptat, <strong
        >zda samotný cíl není moc ambiciózní</strong
      > a na jeho splnění máme dostatek zdrojů - a pokud ne, musíme si je vyžádat. Mezi čtyři důležité faktory pro dosažení
      cíle patří:
    </p>

    <ul class="list-disc px-5 my-5">
      <li><strong>Dovednosti:</strong> jaké má mít můj tým dovednosti, které vedou k úspěšnému dosažení cíle.</li><li>
        <strong>Zdroje (finanční):</strong> jaká je výše budgetu
      </li><li>
        <strong>Omezení:</strong> jaká jsou možná rizika a omezení, která by nám mohla bránit v dosažitelnosti cíle.
      </li><li><strong>Čas:</strong> kolik hodin týdně je potřeba alokovat pro tým.</li>
    </ul>

    <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >
      <strong>Relevance cíle</strong>
    </h2>

    <p>
      Pokud budete tvořit marketingovou strategii pomocí SMART principu, dost často se setkáte nejdřív s byznysovou
      strategií. V důsledku jde o to, aby strategie dosažení marketingového cíle byla stále relevantní a šla ruku v ruce
      s byznysovou strategií.
    </p>

    <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >
      Stanovení deadlinů
    </h2>

    <p>
      V rámci tohoto kurzu budeme určitě probírat Asanu - nástroj, bez kterého bych svou organizaci času dělal opravdu
      špatně. Stanovení deadlinů je věc velmi složitá a chce to znát všechny související procesy s marketingovou
      strategií. A hlavně, nejedná se pouze o jeden deadline projektu - například: tento cíl bude splněn přesně za dva
      měsíce. Ale měl by se udělat podrobný plán jednotlivých procesů, jejich časová dotace včetně osob, které ten
      proces budou řešit.
    </p>

    <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >
      Praktická ukázka
    </h2>

    <p><strong>Uvažujme příklad:</strong></p>

    <code class="bg-slate-100">Je potřeba zvýšit návštěvnost výročního firemního večírku pro klienty o 150%. K dosažení tohoto cíle bude použit navíc email marketing na 300 našich klientů, sponzorů a dobrovolníků. </code>

    <p>
      Splňuje výše uvedené zadání SMART strategii? Obsahuje toto zadání vše potřebné k tomu, aby došlo ke splnění cíle?
    </p>

    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >S:</h3>

    <p>
      Jak je výše uvedné zadání specifické? Víme koho chceme pozvat a kolik lidí má být pozváno? Ano - chceme pozvat
      sponzory, partnery a případně dobrovolníky na akci. Víme taky, že chceme rozeslat 300 pozvánek.
    </p>

    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >M:</h3>

    <p>
      Jak lze měřit a vyhodnocovat výkon marketingové kampaně? Víme, že chceme 150% účast - podle toho pak můžeme
      vyhodnotit, zda kampaň byla úspěšná nebo ne.
    </p>

    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >A:</h3>

    <p>
      Je splnění cíle možné? Zde těžko říci - ale v teorii byznys plán ví, že v těchto 300 pozvánkách jsou rezervy,
      takže ano - cíl je s rezervou splnitelný.
    </p>

    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >R:</h3>

    <p>
      Je kampaň relevantní? Může být. Například - během firemního večírku bude firma představovat nový produkt nebo chce
      zkrátka šířit brand awarness.
    </p>

    <h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >T:</h3>

    <p>
      Obsahuje časový limit? Alespoň víme, že se jedná o výroční firemní večírek, který má datum dost pravděpodobně
      stejné - řekněme například 1. prosince.
    </p>
  </main>
</Layout>
