---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
import ObsahovyTypy from '~/assets/images/components/ObsahovyTypy.astro';
const meta = {
  title: 'Obsahový marketing - typy obsahu - ' + SITE.name,
  description:
    'V této lekci se podíváme na typy obsahového marketingu. Vysvětlíme si největší benefity obsahu a vysětlíme si rozdíl mezi aktuální a evergreen obsahem.',
  dontUseTitleTemplate: true,
};
---

<style>
  p {
    margin: 10px 0px !important;
  }
</style>
<Layout meta={meta}>
  <main class="mx-auto max-w-3xl my-2 py-2">
    <h1
      class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-center py-4 my-4"
    >
    Obsahový marketing - typy obsahu
    </h1>

   
<p>Obsahový marketing je mocný nástroj, který nám marketérům pomáhá přeměnit návštěvníky na zákazníky po celou dobu jeho cesty k naší konverzi. Mezi hlavní výhody obsahového marketingu patří:</p>



<ul class="list-disc px-5 my-5"><li>Nárůst návštěvnosti </li><li>Získání tzv. "<strong>Brand Advocates</strong>" nebo také "<a href="https://jaroslavhuss.cz/online-marketing-slovnik-pojmu/#brandambassador">Brand Ambassadors</a>" - jsou to lidé, kteří o naší značce nebo produktu aktivně mluví, píší pozitivní recenze atd. </li><li>SEO</li><li>Generování leadů </li><li>Posilování povědomí o naší značce, firmě atd. </li></ul>



<ObsahovyTypy />



<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >Typy obsahu</h2>



<h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Obsah je relevantní</h3>



<p>Pokud obsah, který píšete není pro zákazníka relevantní, tzn. nejde vstříc jeho přáním a potřebám, není šance, že se z návštěvníka stane zákazník. </p>



<h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Obsah je personalizovaný</h3>



<p>Personalizace obsahu je úzce spjata s tím, jak je samotný obsah relevantní. Například - máte chřipku, ale váš obsah necílí primárně na to, aby si člověk vzal prášek a je hotovo. Cílíte na alternativní prostředky - řekněme bylinky - a protože víte, že návštěvník se k vám dostane právě díky jeho osobnímu zájmu v alternativní léčbě - musíte mu dodat co nejvíce personalizovaný obsah. </p>



<h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Obsah vzdělává</h3>



<p>Proč potřebujete naší službu? Co vám dá? Jak dlouho z ní můžete těžit? Viděli jste film Vlk z Walstreet" a scénku s perem? :-) </p>



<h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Obsah reaguje na aktuální potřeby</h3>



<p>Pojďme zpět k tomu, když člověk onemocní. Víte, že se ve vaší lokalitě šíří chřipka. Hurá - tak šup napsat pořádný článek, proč je prevence alternativní léčbou tak důležitá. </p>



<h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >CTA</h3>



<p>Obsah má jasně a jednoduše daná talčítka/odkazy na další obsah, která posunou uživatele dál (CTA = Call To Action) . To znamená, že uživateli přesně řekněte, co od něj chcete. Příkladem s bylinkami může být to, že po celou dobu čtení článku bude mít uživatel na očích tlačítko "koupit bylinky na posílení imunity". </p>



<h3
    class="text-xl md:text-lg font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
  >Obsah jasně říká - My máme řešení</h3>



<p>My máme řešení a "ty", zákazníků, už nemusíš pátrat kdekoliv jinde na internetu. </p>



<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2"
    >Rozdíl mezi aktuálním obsahem a evergreen obsahem.</h2>



<p><strong>Aktuální obsah</strong> reaguje na současnou situaci a je časově omezený. Například, když byl v USA jeden ze silnějších hurikánů, CocaCola udělala blogový příspěvek, kde psala o tom, jak pomáhala červenému kříži. </p>



<p><strong>Evergreen obsah</strong> je pravý opak. Jedná se o obsah, který není časové vázán a je použitelný kdykoliv během cesty návštěvníka k naší konverzi. Například - blogový příspěvek o již zmíněných bylinkách - jak funguje mechanismus účinku atd. </p>

  </main>
</Layout>
