---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
import DigiMarketing from '~/assets/images/components/DigiMarketing.astro';
const meta = {
  title: "Rozdíl mezi tradičním marketingem a digitálním marketingem - "+ SITE.name,
  description: "Jak se tradiční marketing liší od toho onlinového. Také se podíváme, jak jsou mezi sebou tyto dvě marketingové strategie propojené.",
  dontUseTitleTemplate: true,
};
---
<style>
    p{
        margin:10px 0px !important;
    }
</style>
<Layout meta={meta}>
<main class="mx-auto max-w-3xl my-2 py-2">
    <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-center py-4 my-4">Rozdíl mezi tradičním marketingem a digitálním marketingem</h1>
<p>
    Jak už již z názvu sekce vyplývá, budeme se teď bavit o klasickém marketingu a jak se liší od toho online marketingu. Také se podíváme, jak jsou mezi sebou tyto dvě marketingové strategie propojené.
</p>

<h2 class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Tradiční marketing - Kanály</h2>
<p>
    Mezi kanály tradičního marketingu patří zejména:
</p>

<ul><li>Přímý marketing</li><li>Tisk</li><li>Vysílání</li><li>Doporučení</li><li>Venkovní aktivity</li></ul>

<h2 class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Přímý marketing (Direct Marketing)</h2>



<p>Jedná se přímou propagaci firmy/výrobce rovnou k zákazníkovi. Většinou s přímým marketingem jsou spojené i další kanály - nebo by alespoň měly být. </p>

<p>V praxi má přímý marketing podobu <strong>letáků</strong>, <strong>brožur,</strong> <strong>fyzických kuponů</strong> a prakticky čekolov v tištěné formě, jež přijde do rukou zákazníka buď rovnou z rukou <a href="/online-marketing-slovnik-pojmu#brandambassador/"><strong>brand ambassadora</strong></a>, výrobce nebo poštou. </p>

<h2 class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Tisk</h2>

<p>Dost často si dle mých zkušeností začínající marketéři pletou pojem "tisk" v marketingu s již zmíněnými letáky, kupony atd. Tisk je především propagace formou novin, magazínů a dalšího čtiva - nejedná se tedy o přímou formu marketingu. </p>

<h2 class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Vysílání</h2>

<p>Z názvu asi jasné. Jedná se zkrátka o reklamu: </p>

<ul><li>v televizi</li><li>v kině</li><li>ve filmu jako product placement</li><li>v rádiu</li></ul>

<h2 class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Doporučení</h2>

<p>Pokud si vzpomínáte, když jsme se bavili o příchozím marketingovém principu (inbound marketing), kanál doporučení je toho takovým klasickým příkladem. </p>

<p>Dá se říci, že doporučení (word of mouth) je spontánní záležitost, ale také být nemusí. Například - když vám někdo sdělí informace o novém mobilním telefonu, protože ví, že z toho bude mít pak provizi. (což už je tedy zase zpět outbound marketing). </p>

<h2 class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Tradiční marketing versus Digitální marketing.</h2>

<table class="table table-auto border-collapse border border-slate-500 p-4"><tbody><tr><td><strong>Účel</strong></td><td><strong>Tradiční marketing</strong></td><td><strong>Digitální markegting</strong></td></tr><tr><td>Zacílení</td><td>Masové zacílení (většinou)</td><td>Individuální i masové zacílení</td></tr><tr><td>Reakce publika</td><td>Dost často pasivní</td><td>Pasivní i aktivní</td></tr><tr><td>Strategie marketingu</td><td>Většinou odchozí</td><td>Odchozí i příchozí</td></tr></tbody></table>

<p>Jak vidíme, digitální marketing je o něco více flexibilnější, ale to neznamená, že funguje lépe. Ideální situace je mít strategii nastavenou tak, aby online aktivity perfektně navazovaly, podporovaly a doplňovaly ty offline. S tím souvisí dalších pět pojmů - <strong>dosah</strong>, <strong>frekvence</strong>, <strong>zapojení uživatele</strong>, <strong>vztah uživatele</strong> k brandu a vhodně <strong>zvolená metoda</strong>. </p>

<table class="table table-auto border-collapse border border-slate-500 p-5 my-5"><tbody><tr><td><strong>Dosah</strong></td><td>Kolik lidí zasáhnu propagací, bude se jednat o masy nebo se soustředím na individuální přístup? Bude mé cílové publikum pasivní (člověk, co sedí u televize a vidíš vaší reklamu) nebo spíše aktivní (člověk, kterého přímo oslovím například newsletterem). </td></tr><tr><td><strong>Frekvence</strong></td><td>Jak často uvidí cílové publikum mou propagaci? Jak často budu doručovat přímý marketing? Jak často budu publikovat do tisku?</td></tr><tr><td><strong>Zapojení uživatele</strong></td><td> Kapitola sama o sobě. V základu se jedná o to, jak umožnit publiku co nejvíce reagovat na náš obsah. </td></tr><tr><td><strong>Vztah uživatele k brandu</strong></td><td>Například v ČR je nejmenovaný obchod s elektronikou, jež je notoricky známý svou ústřední, zelenou postavou. Takový krásný příklad toho, jak může vypadat vztah uživatele k brandu - jedni tento typ propagace bytostne nesnáší, dalším to nevadí vůbec a třetí ho milují. Nicméně - všichni si ho dobře pamatují. </td></tr><tr><td><strong>Zvolená metoda</strong></td><td>Offline nebo online marketing s nasazenou odchozí a příchozí marketingovou strategií. </td></tr></tbody></table>

<DigiMarketing />

<p>Na velmi (opravdu velmi) zjednodušené grafice nad tímto odstavcem nastiňuji tradiční postup. Sedíte u televize, vidíte reklamu na nový mobilní telefon. Pak jdete ráno na autobus a v aplikaci na vás už svítí malý spodní banner, který vás informuje o telefonu ze včerejška. To samé pak uvidíte při brouzdání na Facebooku, slyšíte i broadcastovou reklamu v rádiu a nakonec vás ještě odchytne Brand Ambassador s letákem. </p>
</main>
</Layout>
