---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';


const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
  <h1
    class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-center py-4 my-4"
  >
    Web o programatickém marketingu
  </h1>

  <!-- 3 columns 4 responsive rows -->
<section class="py-10">
  <div class="mx-auto max-w-7xl">
    <div class="grid xl:grid-cols-3 lg:grid-cols-3 flex-wrap md:grid-cols-2 sm:grid-cols-1 grid-cols-1">
      <div class="col text-white bg-[#3390d2] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Věnuji se oboru, který jsem pojmenoval Programatický marketing
      </div>
      <div class="col text-black bg-[#eaeaea] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Programování v TypeScriptu, Rustu <br /> a dalších jazycích
      </div>
      <div class="col text-white bg-[#3390d2] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Kodérství pomocí HTML5 a CSS3 včetně preprocesorůa Tailwind css
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl">
    <div class="grid lg:grid-cols-3 flex-wrap md:grid-cols-2 sm:grid-cols-1 grid-cols-1">
      <div class="col text-black bg-[#eaeaea] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Hluboká znalost email marketingu od návrhů mailových serverů po realizaci mailových rozesílek včetně jejich automatizace
      </div>
      <div class="col text-white bg-[#3390d2] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Pokročilá znalost práce s Google Analytics, Google Tag Managerem a FB Ads managerem
      </div>
      <div class="col text-black bg-[#eaeaea] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Programování React aplikací
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl">
    <div class="grid lg:grid-cols-3 flex-wrap md:grid-cols-2 sm:grid-cols-1 grid-cols-1">
      <div class="col text-white bg-[#3390d2] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Programování server-side skriptů v Node.js
      </div>
      <div class="col text-black bg-[#eaeaea] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Programování vlastních šablon ve WordPress včetně pokročilých funkcí.
      </div>
      <div class="col text-white bg-[#3390d2] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Znalost Google Adwords a FB Ads
      </div>
    </div>
  </div>


  <div class="mx-auto max-w-7xl">
    <div class="grid lg:grid-cols-3 flex-wrap md:grid-cols-2 sm:grid-cols-1 grid-cols-1">
      <div class="col text-black bg-[#eaeaea] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Znalost SEO
      </div>
      <div class="col text-white bg-[#3390d2] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Hluboké zkušenosti s tvorbou digitální marketingové strategie.
      </div>
      <div class="col text-black bg-[#eaeaea] p-2 text-center rounded-sm m-1 font-semibold align-middle">
        Zkrátka křížím programování a marketing dohromady jak se jenom dá.
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl">
    <div class="grid col-span-1 rounded-md shadow-xl m-4 p-2">
      <p>
        Jak jste jistě z úvodního skillsetu mohli zjistit, zabývám se (nebo se alespoň o to snažím) vším, co zahrnuje programování a marketing. Je to úkol přetěžký a vyžaduje studium na téměř denní bázi. A abych věci nezapomínal, všechny své nabyté znalosti chci převádět sem – na svůj web. Jednak abych se k těm věcem mohl po čase vrátit, jednak abych si věci během studiu lépe memorizoval a v neposlední řadě, aby se návštěvník dočetl zajímavé věci ze světa programatického marketingu.
      </p>
    </div>
  </div>
</section>
 
  <!-- BLUE Section -->
  <svg id="about-section" fill="#04042d" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" style="    z-index: -1;
  margin-bottom: -30px;
  overflow-x: hidden!important;">
    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill md:visible lg:visible xl:visible"></path>
</svg>
  <section class="bg-[#04042d] py-10 my-5" >
    <div class="mx-auto max-w-7xl">
      <div class="grid lg:grid-cols-3 flex-wrap md:grid-cols-2 sm:grid-cols-1 grid-cols-1 my-5">
          <div class="col-span-1 px-2 mx-1 text-white">
              <h2 class="text-[#C73940] text-center xl:text-3xl lg:text-3xl md:text-xl sm:text-lg">Programování</h2>
              <p class="my-2">
                V současné době pracuji na kompletním kurzu „Jak se naučit programovat„. Kurz je zdarma v celém rozsahu.
              </p>
              <p class="my-2">
                Vše co se zde na webu objeví bude z 99% napsané Javascriptem. Nezáleží zda to bude Javascript na backendu, běžící v prostředí zvaném Node.js, nebo Frontendu (vanila.js/react.js).
              </p>
              <p class="my-2">
                A proč Javascript? – protože v dnešní době s ním lze napsat úplně všechno a s jednou znalostí tento jazyk otevírá možnosti, které sotva nabídne jiný jazyk tak pohodlně. Desktopová aplikace? Mobilní iOS/Android appka? Webové řešení nebo snad kompletní mailový systém? Umělá inteligence? Stačí si říci…
              </p>
          </div>
        
          <div class="col-span-1 px-2 mx-1 text-white">
              <h2 class="text-[#C73940] text-center xl:text-3xl lg:text-3xl md:text-xl sm:text-lg">WordPress</h2>
              <p class="my-2">
                WordPress je můj nejoblíbenější systém, pokud potřebuji web rychle a spolehlivě. Pryč jsou doby, kdy se o WP tvrdí, že je to děravý a nevhodný systém. Ne, je tak děravý, jak si ho uživatel udělá (viz pluginy).


              </p>
              <p class="my-2">
                Díky WordPress codexu jsou možnosti vývoje pro tento CMS neomezené a strašně rychlé.
              </p>      
          </div>
          <div class="col-span-1 px-2 mx-1 text-white">
              <h2 class="text-[#C73940] text-center xl:text-3xl lg:text-3xl md:text-xl sm:text-lg">Online Marketing</h2>
              <p class="my-2">
                Digital marketing s programováním úzce souvisí – ať už člověk chce nebo nechce. Často tvrdím, že nejlepší digitálové jsou právě ti, kteří také umí kódovat a programovat. Člověk díky průniku těchto znalostí dokáže uvažovat v širším měřítku.
              </p>
              <p class="my-2">
                V současné době píši kurz online marketingu, který je a bude úplně zdarma.
              </p>      
          </div>
      </div>
      <div class="grid lg:grid-cols-3 flex-wrap md:grid-cols-2 sm:grid-cols-1 grid-cols-1 my-5">
        <div class="col-span-1 px-2 mx-1 text-white">
            <h2 class="text-[#C73940] text-center xl:text-3xl lg:text-3xl md:text-xl sm:text-lg">Grafika</h2>
            <p class="my-2">
              Achillova pata, na kterou narážím dnes a denně. Obdivuji všechny ty designéry, co dokáží vymyslet. Každopádně zde, jak jsem již naznačil, bude grafika spoře diskutována a spíše budu provádět nutnými základy. Věřím, že s mozkem grafika se člověk musí narodit. Chce to talent.
            </p>
          
        </div>
      
        <div class="col-span-1 px-2 mx-1 text-white">
            <h2 class="text-[#C73940] text-center xl:text-3xl lg:text-3xl md:text-xl sm:text-lg">Osobní věci</h2>
            <p class="my-2">
              Jsou zde i články z osobního života, který mají jediný cíl a účel – pobavit své okolí a případně další čtenáře. Více za tím netřeba hledat.

            </p>  
        </div>
     
    </div>
    </div>
  </section>

  <section>

    <h2
    class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-center py-4 my-10"
  >
    Napsal jsem
  </h2>
  </section>
  
  <LatestPosts
    title="Výpis článků"
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

</Layout>
