---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
const meta = {
  title: 'Jak se naučit programovat – kompletní kurz moderního programování - ' + SITE.name,
  description:
    'Pokud jste dosud hledali, jak se naučit programovat, ale nejde vám to - jste na správném (konečně) místě. Jednodušší a ucelenější to už nejde',
  dontUseTitleTemplate: true,
};
---

<style>
  p {
    margin: 10px 0px !important;
  }
</style>
<Layout meta={meta}>
  <main class="mx-auto max-w-3xl my-2 py-2">
    <h1
      class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-center py-4 my-4"
    >
    Jak se naučit programovat – kompletní kurz moderního programování
    </h1>


<p class="wp-embed-aspect-16-9 wp-has-aspect-ratio">Kurz je publikovaný na <a rel="noreferrer noopener sponsored nofollow" href="https://www.youtube.com/channel/UCzoitoz2SpyKrk1RnX-4Uhw" target="_blank"><strong>kanálu Youtube</strong></a>, veškeré dodatečné informace jsou zveřejňovány na <a rel="noreferrer noopener sponsored nofollow" href="https://www.facebook.com/Jak-se-nau%C4%8Dit-programovat-kompletn%C3%AD-kurz-104981754864003" target="_blank"><strong>FB stránce</strong></a> a zde na webu. Pokud máte náměty na zlepšení nebo byste rádi v tutoriálu něco chtěli přidat, dejte mi vědět na <a href="mailto:jaroslav.huss@gmail.com">jaroslav.huss@gmail.com</a>. </p>


<p class="has-text-align-left wp-embed-aspect-16-9 wp-has-aspect-ratio">Kurz je v celé své šíři zdarma a zdarma vždycky bude. V kurzu se perfektně naučíte psát HTML, CSS a programovat v Javascriptu, zároveň je celý kurz navržený pro úplné začátečníky, kteří chtějí vystřídat obor a pustit se do programování.</p>



<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">1. Jak si vše připravit a co od kurzu čekat</h2>



<p class="wp-embed-aspect-16-9 wp-has-aspect-ratio">V prvním videu se podíváme na to, jak si vše připravit, abyste mohli pohodlně programovat.</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/c5plhwZkmdw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>



<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">2. Jaký je rozdíl mezi HTML, CSS a Javascriptem</h2>



<p>V dnešním videu se dozvíme, jaký je rozdíl mezi jazyky HTML, CSS a Javascriptem</p>



<iframe width="560" height="315" src="https://www.youtube.com/embed/JwQeBagqnO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">3. HTML párové a nepárové tagy, CSS úvod do selektorů a první JS program</h2>



<p>Ve třetím tutoriálu konečně už budeme psát kód. Naučíme se propojit HTML s CSS a javascriptem, představíme si párové a nepárové tagy, koukneme na základní selektory v CSS a napíše se mi náš úplně první program.</p>



<iframe width="560" height="315" src="https://www.youtube.com/embed/hMKB__vAIJY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">4. HTML/CSS portfolio, proměnné v JS a funkce prompt, alert a confirm</h2>



<p>Ve čtvrtém videu začneme pracovat na vlastním webovém portfoliu. Ukážeme si tag jménem DIV, kterému dáme třídu a poté ho nastylujeme. Zároveň si k portfoliu připravíme funkce, které umožní vstup od uživatele. Vstupy od uživatele se naučíme ukládat do proměnné a rovnou hodnotu proměnné vypsat do console.</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/w50-b8XviYU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">5. HTML sekce a bg image, CSS flex, JS datum a manipulace s HTML</h2>



<p>V dnešním tutoriálu výrazně pokročíme. Vytvoříme si hero obrázek na pozadí, vše hezky zarovnáme na střed a pomocí Javascriptu konečně propíšeme datum do stránky a naučíme se, jak modifikovat HTML právě pomocí programování. Od teď už začne slibovaná interakce Javascriptu s HTML dokumentem.</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/w-Ld6xODozY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">6. Pokračujeme ve Flexu - v Javascriptu si vysvětlíme funkce</h2>



<p>Dnes se to konečně stane a vy se naučíte ovládat javascriptem HTML dokument! Naučíme se vykonávat funkce na základě akcí uživatele - když uživatel najede na element a když ho opustí. Zároveň budeme pokračovat ve studiu Flexu, který je nesmírně důležitý při práci s HTML a CSS.</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/dpxtvO4nZfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Přestávka: HTML za pouhých 30 minut</h2>


<p>HTML za 30 minut je video, které nám dává malý oddych po prvních 6 videí z playlistu "Jak se naučit programovat". V následujících 30 minutách si představíme nejpoužívanější tagy a jejich atributy včetně jejich vlastností.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ywkFS8TUcGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


<h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2">Kdy budou kurzy pokračovat? </h2>

<p>Vážení kolegové, přátelé a další návštěvníci. Začaly se mi hromadit dotazy, proč kurz nepokračuje. Vysvětlení je jednoduché - studium na vysoké škole <a href="https://unicornuniversity.net/" target="_blank" rel="noreferrer noopener nofollow"><strong>Unicorn University</strong></a> spolu s rodinou a náročnou prací se ukázalo jako veliký oříšek. </p>



<p>Nicméně od začátku června jsem se zapřísáhl, že na to maximálně dupnu, abych vám všem pomohl se vstupem do nádherného světa programování. Prosím tedy o trpělivost! </p>



<p>Pokud nechcete, aby vám můj červnový start utekl, hoďte si <a href="https://www.youtube.com/channel/UCzoitoz2SpyKrk1RnX-4Uhw">subscribe na YouTube</a>. Ihned, jak začnu pokračovat v našem programátorském tutoriálu, Youtube vám pošle notifikaci.</p>



<p>Díky za trpělivost a brzy na viděnou/slyšenou. </p>



<p>Jarda Huss</p>

  </main>
</Layout>
