---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
const meta = {
  title: 'Online marketing – slovník pojmů - ' + SITE.name,
  description:
    'Slovník pojmů, které se často vyskytují v online marketingu',
  dontUseTitleTemplate: true,
};
---

<style>
  p {
    margin: 10px 0px !important;
  }
</style>
<Layout meta={meta}>
  <main class="mx-auto max-w-3xl my-2 py-2">
    <h1
      class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-center py-4 my-4"
    >
      Princip marketingové trojky – zahájení, integrace a opakování
    </h1>

    <ul class="list-disc px-5 my-5">
        <li><a href="#abtestovani">AB Testování</a></li>
        <li><a href="#brandambassador">Brand Ambassador</a></li>
        <li><a href="#influencer">Influencer</a></li>
        <li><a href="#landingpage">Landing page</a></li>
        <li><a href="#metrika">Metrika</a></li>
        <li><a href="#retargeting">Retargeting</a></li>
        </ul>
    

   <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2" id="abtestovani">AB Testování</h2>


<p>AB testování je marketingový postup, kdy se snažíme ať už jednoduchými nebo komplexními změnami v kampani, strategii, grafice nebo kódu dopátrat toho, na co nám naše publikum (nebo jeho skupiny) nejlépe reagují. </p>

<p>Zpravidla se uvádí AB testování na webu, kdy máte dvě vstupní stránky pro dvě podobná publika a zkoumáte, která stránka lépe plní cíle. Například - stránka A má hlavní konverzní tlačítka hned pod prvním paragrafem a stránka B má hlaní konverzní tlačtíka také pod prvním paragrafem, mají ale jinou barvu, jinou textaci atd. </p>


   <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2" id="brandambassador">Brand Ambassador</h2>


<p>Zaměstnanec, brigádník (dost často na provizní systém), který šíří dobré slovo a povědomí o firmě. Brand Ambassadoři působí na různých odborných festivalech, přednáškách nebo školení - zpravila mají stánek s tištěným materiálem. </p>


   <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2" id="influencer">Influencer</h2>


<p>Influencer je osoba, která má status veřejně známí. Lidé tuto osobu poznávají a rádi ji sledují na sociálních sítích nebo kdekoliv jinde. Příkladem jednoho z nejlepších influencerů je Leoš Mareš. </p>


   <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2" id="landingpage">Landing Page</h2>


<p>Landing page (přistávací stránka) je stránka, na kterou vedou vaše online marketingové aktivity. Například máte newsletter pro určité publikum. Tento newsletter obsahuje odkaz na stránku, která je určena výhraně právě tomuto publiku. </p>


   <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2" id="metrika">Metrika</h2>


<p>Metrika v online marketingu zpravidla určuje číselnou hodnotu. Máme například metriku návštěv nebo metriku klikání tlačítka (tj. kolik lidí kliklo na naše hlavní tlačítko). </p>


   <h2
      class="text-3xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 text-left py-1 my-2" id="retargeting">Retargeting</h2>


<p>Retargeting je pojem, který v zjednodušené formě cílí reklamu na zákazníka dle jeho chování na internetu. Například - zákazník si na vašem e-shopu, kde máte spousty produktů, prohlížel nové boty. Retargeting zajístí to, že se mu budou ze všech vašich produktů v bannerech a dalších prostředcích  zobrazovat právě jen boty. </p>
   
  </main>
</Layout>
